apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/single-workflow/?ref=2f25a62ec832492ca4359688f0a9cf14da9491fa
  - eventbus.yaml
  - rbac
openapi:
  path: https://raw.githubusercontent.com/argoproj/argo-schema-generator/main/schema/argo_events_kustomize_schema.json
patchesStrategicMerge:
  - rbac-patch.yaml
