apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/single-workflow/?ref=af88db7653b64fb96d7b65571f16ceca8165a093
  - eventbus.yaml
