apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/single-workflow/?ref=b94d471c9f6d1396b2607ee3c7fd97684261b7bf
  - eventbus.yaml
  - rbac
openapi:
  path: https://raw.githubusercontent.com/argoproj/argo-schema-generator/main/schema/argo_events_kustomize_schema.json
patchesStrategicMerge:
  - rbac-patch.yaml
