apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/single-workflow/?ref=f47199a7e449b5085764c1474ea05c53eaaa1892
  - eventbus.yaml
