apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/many-workflows/?ref=f843047bb02c5d61e91b022d32a59b372450ed0c
  - eventbus.yaml
