apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/nikita-akuity/demo-workflow//manifests/many-workflows/?ref=a60b0dfce92084ff8e15ab427ebbcae30782ca84
  - eventbus.yaml
